---
import { Astro } from 'astro';
const canonicalURL = new URL(Astro.url.pathname, Astro.site || Astro.url.origin);
const socialImageURL = new URL('/images/og-en-open-graph.png', Astro.url);
---
<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-language" content="en">
	<link rel="icon" type="image/png" href="/favicon.png" />
	<meta name="generator" content={Astro.generator} />
	<title>PostgreSQL Configuration API</title>
	<meta name="description" content="A basic JSON API for generating a PostgreSQL configuration. Specifically built for use with configuration management systems." />
	<meta name="robots" content="all" />
	<meta name="keywords" content="api, sysadmin, postgres, configuration management, postgresql, ansible, terraform, salt" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="PostgreSQL Configuration API" />
  <meta property="og:description" content="A JSON API for generating a PostgreSQL configuration." />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:site_name" content="PostgreSQL Configuration API" />
  <meta property="og:image" content={socialImageURL} />
  <meta property="og:image:secure_url" content={socialImageURL} />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="ASCII art of an elephant" />
</head>
