---
import Head from '../components/Head.astro';
import '../styles/global.css';
---
<!doctype html>
<html lang="en" class="h-full w-full">
	<Head />
	<body class="h-full w-full">
		<slot />
	</body>
</html>
